{% extends "base.html" %}

{% block content %}
    
    
    <main>
      <div class="container">
        <div class="layout">
          <!-- left layout -->
          <div class="left">
            <div class="page-top">
              <div class="top flex">
                <div class="page-name">
                  <a href="{% url 'home:home' %}" class="learn">
                    <span class="material-icons"> keyboard_return </span> Go
                    back
                  </a>
                  <h1>Author</h1>
                </div>
              </div>
            </div>

            <center>
              <div class="typo">
                <h1 class="title">{{me.profile.username}}</h1>
                <p>{{me.bio}}</p>
              </div>
            </center>
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Top posts</h1>
                <div class="grid-2 blog">
                  
                  {% for top_post in top_posts %}
                    <!-- card -->
                  <a href="{% url 'home:post_detail' top_post.slug %}">
                    <div class="card">
                      <div class="post-img">
                        <img src="{{top_post.image.url}}" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>{{top_post.title}}</h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="{{top_post.author.image.url}}" alt="" />
                          </div>
                          <div class="details">
                            <p>{{top_post.author.username}}</p>
                            <small>{{top_post.updated|date}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                  {% endfor %}
                    
                </div>
              </div>
            </section>
            <section class="sp">
              <div class="container">
                <h1 class="sec-title">Treandy</h1>
                <div class="grid-3 blog-grid">
                  
                  {% for recent_post in recent_posts %}
                    <!-- card -->
                  <a href="{% url 'home:post_detail' recent_post.slug %}">
                    <div class="card">
                      <div class="post-img">
                        <img src="{{recent_post.image.url}}" alt="" />
                        <div class="tag">Tag name</div>
                      </div>
                      <div class="card-content">
                        <h3>{{recent_post.title}}</h3>
                        <div class="author">
                          <div class="profile-pic">
                            <img src="{{recent_post.author.image.url}}" alt="" />
                          </div>
                          <div class="details">
                            <p>{{recent_post.author.username}}</p>
                            <small>{{recent_post.updated|date}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- card end-->
                  {% endfor %}
                    
                </div>
                <center>
                  <button class="btn btn-primary rounded view">
                    View more
                    <span class="material-icons"> trending_flat </span>
                  </button>
                </center>
              </div>
            </section>
          </div>
          <!-- left layout end -->

          <!-- right layout -->
          <div class="right">
            <div class="block">
              <h2 class="title2">Top Authors</h2>
              
              {% for top_author in top_authors %}
              <div class="recent-post other-author">
                <div class="rounded-img">
                  <img src="{{top_author.profile.image}}" alt="" />
                </div>
                <div class="recent-content">
                  <h3>{{top_author.username}}</h3>
                  <a class="learn" href="{{top_author.profile.slug}}"
                    >Learn more
                    <span class="material-icons"> trending_flat </span></a
                  >
                </div>
              </div>
              {% endfor %}
                
            </div>

          </div>
          <!-- right layout end -->
        </div>
      </div>
    </main>
    {% endblock content %}